@use './abstracts' as a;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4rem;
  color:  a.$darker-grey;
  background-color: a.$white;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}